
#modal-resultat .modal-dialog {
	max-width: 90% !important;
	width: 80% !important;
	min-width: 50% !important;
}

.modal-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.rule {
	width:100%;
	display: block;
	float: left;
	clear: both;
	height: 10px;
}

.modal-body {
	padding: 20px;
}

table.taxon tbody td {
	padding-left: 0px;
}
table.taxon thead th {
	padding-left: 0px !important;
}
table.taxon thead th {
	border-bottom: 1px solid #ebebeb;
}
table.dataTable.no-footer {
    border-bottom: 0px;
}

/* resultater.html */
button.new-resultat {
	float: none;
	clear: none;
	margin-left: 200px;
}
/*
.dataTables_wrapper .dataTables_filter  {
	clear: none;
	display: inline;
	float: none;
}
*/
.dataTables_wrapper .row {
   margin-top: 0px;
}

/* resultater.modal.html */
#resultat-form .nav > li > a {
		padding-top: 5px;
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 5px;
		cursor: pointer;
}
#resultat-form .nav-tabs {
	margin-top: 8px;
}

#resultat-form th {
	border-top: 0px;
}

.navbar-default .navbar-nav > li > a:active {
	color: red;
}

.resultat-item-table th:first {
	max-width:100px;
	width:100px;
}
.resultat-item-table th {
	padding-left: 0px;
}

/** new resultat design 08.04.2016 ****/

tr.taxon-row {
	background-color: #ebebeb;
	font-size: 12px;
}
tr.taxon-row td {
	line-height: 18px !important;
	padding-top: 3px !important;
	padding-bottom: 1px !important;
}
.add-resultat {
	padding-right: 0px !important;
	padding-left: 5px !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
	max-width: 20px; !important;
	width: 10px; !important;
	text-align: right;
}

tr.taxon-row th.center {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
tr.taxon-row td.center {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

label.normal {
	font-weight: normal;
}
input.bold {
	font-weight: bold;
}

.resultat-item-table th {
	font-size: 90% !important;
	padding-bottom: 2px !important;
	padding-left: 1px !important; 
  padding-right: 0px !important; 
}

.resultat-item-table td {
	cursor: default !important;
	padding-left: 1px !important; 
  padding-right: 0px !important; 

}

.resultat-item-table td.center {
	text-align: center !important;
}

/* egne resultater button */
.userFilter label {
	cursor: pointer;
	font-weight: normal;
	vertical-align: top;
	color: #333 !important;
}

.dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}
