<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide();reloadData()">×</button>
				<h4 class="modal-title">Resultat #{{ resultat.resultat_id }}</h4>
			</div>
			<div class="modal-body">

				<form class="form-inline" role="form" id="resultat-form">

					<div class="form-group">
						<label class="normal">SagsNr&nbsp;&nbsp;</label>
						<input type="text" class="booking-typeahead form-control input-sm bold" size="10" ng-model="resultat.sagsNo" placeholder="..." />

						&nbsp;&nbsp;&nbsp;&nbsp;
						<label class="normal">PrøveNr&nbsp;&nbsp;</label>
						<input type="text" class="form-control input-sm bold" size="10" ng-model="resultat.proeve_nr" readonly style="background-color:#fff;"/>

						&nbsp;&nbsp;&nbsp;&nbsp;
						<label class="normal">Dato for analyse&nbsp;&nbsp;</label>
						<input type="text" class="form-control input-sm bold" size="10" ng-model="resultat.datoForAnalyse" bs-datepicker data-date-format="dd-MM-yyyy" size="7" data-autoclose="true" placeholder="..." />

					</div>

						<br>
						<table class="table resultat-item-table">
								<thead>
									<tr>
										<th class="add-resultat"></th> <!-- add -->
										<th></th> <!-- artsgruppe -->
										<th></th> <!-- species -->
										<th></th> <!-- scientific -->
										<th>Positiv</th>
										<th>Negativ</th>
										<th>eDNA-prøve</th>
										<th>Pålidelig</th>
										<th>Ct-værdi (eDNA-prøve)</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat-start="taxon in taxon | orderBy:'sortOrder'" ng-if="taxon.taxonSelected" class="taxon-row">
										<td class="add-resultat">
											<i class="fa fa-plus" bs-tooltip ng-click="createResultatItem(taxon.taxon_id)" data-trigger="hover" data-title="Tilføj nyt resultat for {{ taxon.taxon_navn_dk | lowercase }}" style="color:green;float:left;padding-top:3px;"></i>
										</td>
										<td> {{ taxon.taxon_artsgruppe }} </td>
										<td> {{ taxon.taxon_navn_dk }} </td>
										<td><em> {{ taxon.taxon_navn }} </em></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<i class="fa fa-sort-up" bs-tooltip ng-hide="resultat.resultat_items[taxon.taxon_id] != 0" ng-click="excludeTaxon(taxon.taxon_id)" data-trigger="hover" data-title="Fjern <b>{{ taxon.taxon_navn_dk | lowercase }}</b> fra oversigten" data-html="true" style="color:gray;font-size:130%;float:right;padding-top:3px;cursor:pointer;"></i>
										</td>
									</tr>	
									<tr ng-repeat-end ng-repeat="item in resultat.resultat_items[taxon.taxon_id]">
										<td></td>
										<td> {{ taxon.taxon_artsgruppe }} </td>
										<td> {{ taxon.taxon_navn_dk }} </td>
										<td><em> {{ taxon.taxon_navn }} </em></td>
										<td><input type="checkbox" bs-switch ng-model="item.positiv" ng-checked="item.positiv" switch-size="mini" switch-off-text="0" switch-on-text="1" switch-on-color="primary" switch-off-color="danger" switch-animate="false" switch-inverse="true" ng-change="resultatValueClick('positiv', true, item)" /></td>
										<td><input type="checkbox" bs-switch ng-model="item.negativ" ng-checked="item.negativ" switch-size="mini" switch-off-text="0" switch-on-text="1" switch-on-color="primary" switch-off-color="danger" switch-animate="false" switch-inverse="true" ng-change="resultatValueClick('negativ', false, item)" /></td>
										<td style="padding-left:22px;"><input type="checkbox" bs-switch ng-model="item.eDNA" ng-checked="item.eDNA" switch-size="mini" switch-off-text="0" switch-on-text="1" switch-on-color="primary" switch-off-color="danger" switch-animate="false" switch-inverse="true" ng-change="resultatValueClick('eDNA', true, item)" /></td>
										<td><input type="checkbox" bs-switch ng-model="item.database_result" switch-size="mini" switch-off-text="0" switch-on-text="1" switch-on-color="primary" switch-off-color="danger" switch-animate="false" switch-inverse="true" ng-change="updateResultatItem(item)" /></td>
										<td style="padding-left:20px;"><input type="text" ng-model="item.Ct_vaerdi" size="7" only-digits ng-change="updateResultatItem(item)" /></td>
										<td>
											<i class="fa fa-remove" bs-tooltip ng-click="deleteResultatItem(item)" data-trigger="hover" data-title="Slet replikat" data-html="true" style="color:gray;font-size:80%;float:right;padding-top:3px;cursor:pointer;"></i>
										</td>
									</tr>
								</tbody>
							</table>
				</form>
			</div>
			
			<div class="modal-footer">
				<div class="form-inline form-group" style="float:left;">
					<label for="ssexcludedTaxons">Tilføj skjult art</label>
					<!--
					<select ng-model="unExcludeTaxon" id="unExcludeSelect" ng-options="t.art for t in excludedTaxons" xxxng-change="test()"></select>
					-->
					<select id="unExcludeSelect">
						<option ng-repeat="t in excludedTaxons" value="{{ t.taxon_id }}">{{ t.art }}</option>
					</select>
				</div>
				<button type="button" class="btn btn-default" ng-click="$hide();reloadData()"> <i class="fa fa-ok"></i>Luk</button> 
			</div>
		</div>
	</div>
</div>
