<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;" id="modal-resultat">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="resultatModalClose()">×</button>
				<h4 class="modal-title"> 
					<span class="text-muted">
						#{{ resultat.resultat_id | numberFixedLen:4 }}
					</span>
					&nbsp;
					<span class="text-info">
						<strong>{{ resultat.proeve_nr }}</strong>
					</span>
					&nbsp;	
					<span class="small">
						{{ resultat.created_userName }} {{ resultat.created_timestamp | date:'dd/MM/yyyy kl. HH:mm:ss' }} 
					</span>
				</h4>
			</div>
			<div class="modal-body">

				<form class="form-inline" role="form" id="resultat-form">

					<div class="form-group">

						<label class="normal">SagsNr&nbsp;</label>
						<div class="input-group">
							<input type="text" class="booking-typeahead form-control input-sm bold" size="20" ng-model="resultat.sagsNo" readonly style="background-color:#fff;" tabindex="-1" ng-click="changeSagsNo()" />
						  <span class="input-group-btn">
								<button role="button" class="btn btn-primary btn-sm" ng-click="changeSagsNo()"><i class="fa fa-edit"></i></button>
							</span>
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp;

						<label class="normal">PrøveID&nbsp;&nbsp;</label>
						<div class="input-group">
							<input type="text" class="form-control input-sm bold" size="20" ng-model="resultat.proeve_nr" readonly style="background-color:#fff;" tabindex="-1" ng-click="changeProeveNr()"/>
						  <span class="input-group-btn">
								<button role="button" class="btn btn-primary btn-sm" ng-click="changeProeveNr()"><i class="fa fa-edit"></i></button>
							</span>
						</div>

						&nbsp;&nbsp;&nbsp;&nbsp;
						<label class="normal">Analysedato&nbsp;&nbsp;</label>
						<input type="text" class="form-control input-sm bold" size="10" ng-model="resultat.datoForAnalyse" bs-datepicker data-date-format="dd-MM-yyyy" size="7" data-autoclose="true" placeholder="..." />

					</div>

						<br>
						<table class="table resultat-item-table">
								<thead>
									<tr>
										<th class="add-resultat"></th> <!-- add -->
										<th>Artsgruppe</th> <!-- artsgruppe -->
										<th>Dansk navn</th> <!-- species -->
										<th>Videnskabeligt navn</th> <!-- scientific -->
										<th class="hmiddle">Positiv<br>kontrol</th>
										<th class="hmiddle">Negativ<br>kontrol</th>
										<th>eDNA-prøve</th>
										<th>Pålidelig</th>
										<th class="hmiddle">Ct-værdi<br>(eDNA-prøve)</th>
										<th></th>
									</tr>
								</thead>
								<tbody>

									<!-- has replikats header -->
									<tr ng-repeat-start="taxon in taxon | orderBy:'taxon_prioritet'" ng-if="taxon.taxonSelected && resultat.resultat_items[taxon.taxon_id].length > 0" class="taxon-row">
										<td colspan="10">
										</td>
									</tr>	
									<tr ng-repeat-end ng-repeat="item in resultat.resultat_items[taxon.taxon_id]">
										<td>
											<i class="fa fa-plus" bs-tooltip ng-click="createResultatItem(taxon.taxon_id)" data-trigger="hover" data-title="Tilføj yderligere replikat for {{ taxon.taxon_navn_dk | lowercase }}" style="color:green;float:left;padding-top:5px;cursor:pointer;font-size:80%;"></i>
										</td>
										<td> {{ taxon.taxon_artsgruppe }} </td>
										<td> {{ taxon.taxon_navn_dk }} </td>

										<td>
											<em> 
												{{ taxon.taxon_navn }} 
											</em>
										</td>

										<td>
											<span class="btn-group btn-group-xs" bs-radio-group ng-model="item.positiv" style="padding-left:10px;">
											  <label class="btn" ng-class="{ 'btn-default': item.positiv == '', 'btn-danger': item.positiv == false }" ng-click="item.positiv = false;resultatValueClick(item)">
													<input type="radio" class="btn" value="false" tabindex="-1">0
												</label>
											  <label class="btn" ng-class="{ 'btn-primary': item.positiv == true }" ng-click="item.positiv = true;resultatValueClick(item)">
													<input type="radio" class="btn" value="true" tabindex="-1">1
												</label>
											</span>
										</td>

										<td>
											<span class="btn-group btn-group-xs" bs-radio-group ng-model="item.negativ" style="padding-left:10px;">
											  <label class="btn" ng-class="{ 'btn-default': item.negativ == '', 'btn-danger': item.negativ == false }" ng-click="item.negativ = false;resultatValueClick(item)">
													<input type="radio" class="btn" value="false" tabindex="-1">0
												</label>
											  <label class="btn" ng-class="{ 'btn-primary': item.negativ == true }" ng-click="item.negativ = true;resultatValueClick(item)">
													<input type="radio" class="btn" value="true" tabindex="-1">1
												</label>
											</span>
										</td>

										<td>
											<span class="btn-group btn-group-xs" bs-radio-group ng-model="item.eDNA" style="padding-left:22px;">
											  <label class="btn" ng-class="{ 'btn-default': item.eDNA == '', 'btn-danger': item.eDNA == false }" ng-click="item.eDNA = false;resultatValueClick(item)">
													<input type="radio" class="btn" value="false" tabindex="-1">0
												</label>
											  <label class="btn" ng-class="{ 'btn-primary': item.eDNA == true }" ng-click="item.eDNA = true;resultatValueClick(item)">
													<input type="radio" class="btn" value="true" tabindex="-1">1
												</label>
											</span>
										</td>

										<td>
											<span class="btn-group btn-group-xs" bs-radio-group ng-model="item.database_result" style="padding-left:5px;">
											  <label class="btn" ng-class="{ 'btn-default': item.database_result == '', 'btn-danger': item.database_result == false }" ng-click="item.database_result = false;resultatValueClick(item)">
													<input type="radio" class="btn" value="false" tabindex="-1">0
												</label>
											  <label class="btn" ng-class="{ 'btn-primary': item.database_result == true }" ng-click="item.database_result = true;resultatValueClick(item)">
													<input type="radio" class="btn" value="true" tabindex="-1">1
												</label>
											</span>
										</td>

										<td style="padding-left:20px;">
											<input type="text" ng-model="item.Ct_vaerdi" size="7" only-digits ng-change="updateResultatItem(item)" />
										</td>

										<td>
											<i class="fa fa-remove text-danger" bs-tooltip ng-click="deleteResultatItem(item)" data-trigger="hover" data-title="Slet replikat" data-html="true" style="font-size:80%;float:right;padding-top:3px;cursor:pointer;"></i>
										</td>
									</tr>

									<!-- no replikats header -->
									<tr ng-repeat-start="taxon in taxon | orderBy:'taxon_prioritet'" ng-if="taxon.taxonSelected && resultat.resultat_items[taxon.taxon_id].length == 0" class="taxon-row">
										<td class="add-resultat" class="cursor:pointer;">
											<i class="fa fa-plus" bs-tooltip ng-click="createResultatItem(taxon.taxon_id)" data-trigger="hover" data-title="Opret {{ taxon.taxon_navn_dk | lowercase }} replikat" style="color:green;float:left;padding-top:3px;cursor:pointer;"></i>
										</td>
										<td> {{ taxon.taxon_artsgruppe }} </td>
										<td> {{ taxon.taxon_navn_dk }} </td>
										<td><em> {{ taxon.taxon_navn }} </em></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<i class="fa fa-sort-up" bs-tooltip ng-hide="resultat.resultat_items[taxon.taxon_id] != 0" ng-click="excludeTaxon(taxon.taxon_id)" data-trigger="hover" data-title="Fjern <b>{{ taxon.taxon_navn_dk | lowercase }}</b> fra oversigten" data-html="true" style="color:gray;font-size:130%;float:right;padding-top:3px;cursor:pointer;"></i>
										</td>
									</tr>	
									<tr ng-repeat-end ng-repeat="item in resultat.resultat_items[taxon.taxon_id]">
									</tr>

								</tbody>
							</table>
				</form>

				  <div class="form-group" style="width:90%;font-size:90%;">
						<button type="button" class="btn btn-primary btn-xs" ng-click="addKommentar()" title="Tilføj note / kommentar"><i class="fa fa-plus"></i></button>
						Noter
						<table class="table-striped">
							<tr ng-repeat="k in resultat.kommentarer" class="info">
								<td><span style="color:red;cursor:pointer;" ng-click="removeKommentar(k.kommentar_id)" title="Slet">×</span>&nbsp;</td>
								<td title="Oprettet af {{ k.created_userName }} {{ k.created_timestamp | date:'dd/MM/yyyy Kl. HH.mm' }}" style="white-space:normal !important;"> 
									{{ k.kommentar }} 
								</td>
							</tr>
						</table>
					</div>
			</div>

			<div class="modal-footer">
				<div class="form-inline form-group" style="float:left;">

					<button type="button" class="btn btn-danger" ng-click="deleteResultat(resultat.resultat_id)" title="Resultat oprettet af {{ resultat.created_userName }} {{ resultat.created_timestamp | date:'dd/MM/yyyy HH:mm:ss' }} ">
						Slet Resultat
					</button> 

					<label style="margin-left:100px;">Tilføj skjult art</label>
					<select id="unExcludeSelect">
						<option ng-repeat="t in excludedTaxons" value="{{ t.taxon_id }}">{{ t.art }}</option>
					</select>

				</div>
				<button type="button" class="btn btn-primary" ng-click="resultatModalClose()"> <i class="fa fa-ok"></i>Luk</button> 
			</div>
		</div>
	</div>
</div>
