.trash { 
	color:rgb(209, 91, 71); 
}
th {
	cursor: pointer;
}
th.action, td.action {
	width: 30px;
	max-width: 30px;
	cursor: pointer;
}
.padding-right-10 {
	margin-right:20px;
}

/* taxon.tab.html */

td.check-col {
	color:red;
	max-width: 30px !important;
	width: 30px !important;
	text-align: center;
	padding-top: 10px !important;
	vertical-align: bottom;
}

#table-taxon {
	max-width: 600px !important;
}	

td.artsgruppe {
	font-size: 90%;
	padding: 0px;
}

td.info-head {
	font-size: 80%;
	padding-right: 7px;
}
td.info-content {
	white-space: nowrap;
}
b.dk {
	font-weight: normal;
	text-transform: lowercase;
	color: navy;
}

/***** */
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
 ul[dnd-list],
 ul[dnd-list] > li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
 ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
 ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
 ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;

		display: none; /* dadk */
}

 ul[dnd-list] .dndDragging {
	background-color: #ddd;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
 ul[dnd-list] li {
    background-color: #fff;
    xxborder: 1px solid #ddd;
		xxborder-left: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 5px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
 ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}


/*******************/

#list-taxon .col-xs-1 {
	width: 20px !important;
	top: 5px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}	
#list-taxon .col-xs-3 {
	padding-left: 5px !important;
	padding-right: 2px !important;
}
.dndDragover {
	border: none;
	background-color: transparent;
}

/* 06062016  set cursor to hand */
.nav-tabs > li > a {
	cursor: pointer !important;
}

#lockedRowsTable > thead > tr > th {
	border-top: 0px !important;
}
