<span style="border-left: 1px solid #ddd;display:inline-block;">

<br>
<table class="table-condensed col-xs-7">
	<thead>
		<tr>
			<th></th>
			<th>Latinsk navn</th>
			<th>Dansk navn</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
			</td>
			<td>
				<input type="text" allearter-typeahead at-taxon="taxon" ng-model="taxon.Videnskabeligt_navn" class="form-control input-sm" size="50" />
			</td>
			<td>
				<input type="text" allearter-typeahead="dk" at-taxon="taxon" ng-model="taxon.Dansk_navn" class="form-control input-sm" id="new-taxon" size="50" />
			</td>
			<td>
				<button type="button" class="btn btn-primary btn-sm" title="Tilføj art til basisliste" ng-click="taxonCreate()" ng-disabled="!taxon.Videnskabeligt_navn && !taxon.Dansk_navn ">
					<i class="fa fa-plus"></i>
				</button>
			</td>

			<td>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-sm bold" ng-model="taxonOrderBy" bs-options="s.value as s.text for s in taxonOrders" bs-select style="width:100px;">
				</button>
			</td>
		</tr>
		<tr>
			<td colspan="6" style="border-top:1px solid #fff;">
			</td>
		</tr>

	</tbody>
</table>

<br><br><br>


<ul dnd-list="taxonsUnordered" id="list-taxon"
		dnd-dragover="dragoverCallback(event, index, external, type)"
		dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
>
    <li ng-repeat="item in taxonsUnordered | orderBy: taxonOrderBy" class="col-xs-12" data-taxon-id="{{ item.taxon_id }}"
        dnd-draggable="item"
        dnd-moved="taxonsUnordered.splice($index, 1)"
        dnd-effect-allowed="move"
				dnd-disable-if="taxonOrderBy != 'taxon_prioritet'"
        >
				<span class="col-xs-1">
					<input type="checkbox" class="input-sm" style="position:relative;top:-8px;" ng-model="item.taxon_basisliste" title="Medtages i basisliste / default" ng-change="item.edited = true" />
				</span>

				<span class="col-xs-2">
 					<input type="text" class="form-control input-sm" ng-model="item.taxon_artsgruppe" class="form-control bold" ng-change="item.edited = true" />
				</span>

				<span class="col-xs-2">
 					<input type="text" class="form-control input-sm" ng-model="item.taxon_navn" class="form-control bold" ng-change="item.edited = true" style="font-style:italic;" />
				</span>

				<span class="col-xs-2">
					<input type="text" class="form-control input-sm" ng-model="item.taxon_navn_dk" class="form-control bold" ng-change="item.edited = true" />
				</span>

				<span class="col-xs-2" style="width:50px;padding-left:5px;">
 					<input type="text" class="form-control input-sm" style="width:45px;text-align:right !important;" ng-model="item.taxon_prioritet" class="form-control bold" ng-change="item.edited = true" />
				</span>

				<span class="col-xs-1">
					<button type="button" class="btn btn-sm" style="position:relative;top:-5px;" ng-class="{ 'btn-success': (item.edited == true) }" ng-disabled="!item.edited" ng-click="saveTaxon(item)" title="Gem ændringer">
						<i class="glyphicon glyphicon-ok"></i>
					</button>
				</span>

				<span class="col-xs-1">
					<button type="button" class="btn btn-danger btn-sm" style="position:relative;top:-5px;" ng-disabled="taxonInUse(item.taxon_id)" ng-click="deleteTaxon(item)" title="Der er ingen replikater tilknyttet arten, så den kan fjernes" ng-show="!taxonInUse(item.taxon_id)" >
						<i class="glyphicon glyphicon-remove"></i>
					</button>
				</span>

   </li>
</ul>

<br>



<br><br><br>
</span>
