<script type="text/ng-template" id="popover.taxon.html">
  <div class="popover" style="width:300px;">
  <div class="arrow"></div>
  <div class="popover-content" ng-model="content">
		<table>
			<tr><td class="info-content" colspan="2">Artsgruppe: {{ artInfo.Artsgruppe_dk }}</td></tr>
			<tr><td class="info-head">Rige</td><td class="info-content"><em> {{ artInfo.Rige | lowercase }}</em>  <b class="dk">{{ artInfo.Rige_dk }}</b></td></tr>
			<tr><td class="info-head">Række</td><td class="info-content"><em>{{ artInfo.Raekke | lowercase}}</em>  <b class="dk">{{ artInfo.Raekke_dk }}</b></td></tr>
			<tr><td class="info-head">Orden</td><td class="info-content"><em>{{ artInfo.Orden | lowercase}}</em>  <b class="dk">{{ artInfo.Orden_dk }}</b></td></tr>
			<tr><td class="info-head">Klasse</td><td class="info-content"><em>{{ artInfo.Klasse | lowercase}}</em>  <b class="dk">{{ artInfo.Klasse_dk }}</b></td></tr>
			<tr><td class="info-head">Familie</td><td class="info-content"><em>{{ artInfo.Familie | lowercase}}</em>  <b class="dk">{{ artInfo.Familie_dk }}</b></td></tr>
			<tr><td class="info-head">Slægt</td><td class="info-content"><em>{{ artInfo.Slaegt | lowercase}}</em>  <b class="dk">{{ artInfo.Slaegt_dk }}</b></td></tr>

		</table>
  </div>
</div>
</script>

<br>
<table class="table table-condensed" id="table-taxon">
	<thead>
		<tr>
			<th></th>
			<th>Videnskabeligt navn</th>
			<th>Dansk navn</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr class="success">
			<td>
				<button type="button" class="btn btn-primary" title="Tilføj art til basisliste" ng-click="taxonCreate()">
					<i class="fa fa-plus"></i>
				</button>
			</td>
			<td>
				<input type="text" allearter-typeahead at-taxon="taxon" ng-model="taxon.Videnskabeligt_navn" class="form-control">
			</td>
			<td>
				<input type="text" allearter-typeahead="dk" at-taxon="taxon" ng-model="taxon.Dansk_navn" class="form-control" id="new-taxon">
			</td>
			<td>
				<button type="button" class="btn btn-primary current-taxon" bs-popover data-trigger="hover" data-html="true" data-template-url="popover.taxon.html">
					<i class="fa fa-info"></i>
				</button>
			</td>
			<td></td>
		</tr>
	</tbody>

  <tbody ng-repeat="(artsgruppe, arter) in taxons">
		<tr class="active">
			<td colspan="5" class="artsgruppe">
				<b> {{ artsgruppe }} <b>
			</td>
		</tr>
		<tr ng-repeat="(index, art) in taxons[artsgruppe]">
			<td class="check-col">
				<input type="checkbox" ng-model="art.taxon_basisliste" xxng-click="basislisteToggle(art)" title="Medtages i basisliste / default" ng-change="art.edited = true" />
			</td>
			<td>
				<input type="text" ng-model="art.taxon_navn" class="form-control" ng-change="art.edited = true" style="font-style:italic;"/>
			</td>
			<td>
				<input type="text" ng-model="art.taxon_navn_dk" class="form-control" ng-change="art.edited = true"/>
			</td>
			<td>
				<button type="button" class="btn btn-default" ng-model="art.taxon_prioritet" bs-options="o as o for o in prioritetList" bs-select title="Prioritet / rækkefølge i Resultater" ng-change="art.edited = true" >
				  <span class="caret"></span>
				</button>
			</td>
			<td>
				<button type="button" class="btn" ng-class="{ 'btn-primary': (art.edited == true) }" ng-disabled="!art.edited" ng-click="saveArt(art)" title="Gem ændringer">
					<i class="glyphicon glyphicon-ok"></i>
				</button>
			</td>
		</tr>
  </tbody>

</table>

