<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-user">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title" ng-bind-html="userModalUser.title"></h4>
			</div>

			<div class="modal-body">
				<form role="form">

					<div class="form-group">
				    <label for="name">Navn</label>
				    <input type="text" class="form-control" ng-model="userModalUser.name" id="name">
				  </div>
					<div class="form-group">
				    <label for="email">Email</label>
				    <input type="text" class="form-control" ng-model="userModalUser.email" id="email">
				  </div>
					<div class="form-group">
				    <label for="password">Email</label>
				    <input type="text" class="form-control" ng-model="userModalUser.password"  id="password">
				  </div>

					<div class="form-group">
				    <label for="roole">Role</label>
						<select class="form-control" name="role">
							<option value="Gæst">Gæst</option>
							<option value="Indtaster">Indtaster</option>
							<option value="Admin">Admin</option>
						</select>
				  </div>
				</form>				
			</div>

			<div class="modal-footer">
				<span style="float:left;">
					<button type="button" class="btn btn-danger" ng-click="deleteUser(user)">Slet</button> 
				</span>
				<button type="button" class="btn btn-primary" ng-click="saveUser()" ng-if="!userModalUser.user_id">Opret bruger</button> 
				<button type="button" class="btn btn-primary" ng-click="saveUser()" ng-if="userModalUser.user_id>0" >Gem</button> 
				<button type="button" class="btn btn-success" ng-click="$hide()">Luk</button> 
			</div>

		</div>
	</div>
</div>
