<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-proeve">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title">Prøve: <strong>{{ proeve.proeve_nr }}</strong></h4>
			</div>
			<div class="modal-body">

				<form class="form-inline" role="form" id="proeve-form">

					<fieldset>
						<legend>Prøvestamdata</legend>

				    <label for="proeve_nr" class="normal">PrøveID</label>
						<div class="input-group">
							<input type="text" ng-model="proeve.proeve_nr" class="form-control input-sm bold" ng-click="changeProeveNr()" size="16" placeholder="PrøeveNr" id="proeve_nr">
							<span class="input-group-btn">
				        <button class="btn btn-primary btn-sm" type="button" title="Ret / skift PrøveID" ng-click="changeProeveNr()"><i class="fa fa-edit"></i></button>
							</span>
						</div>

						&nbsp;
				  	<label for="dataset" class="normal">Datasæt</label>
				    <input type="text" ng-model="proeve.dataset" class="form-control input-sm bold" size="12" id="dataset" ng-change="proeve.edited = true" />
						&nbsp;
				  	<label for="ProeverModtaget" class="normal">Modtagelsesdato</label>
				    <input type="text" ng-model="proeve.modtagelsesDato" class="form-control input-sm bold" data-date-format="dd-MM-yyyy" size="8" bs-datepicker data-autoclose="true" data-container="body" id="ProeverModtaget" ng-change="proeve.edited = true" />

					</fieldset>


					<fieldset>
						<legend>Prøvedata</legend>

				    <label for="lokalitet" class="normal">Lokalitet</label>
						<div class="input-group">
						  <input type="text" class="form-control input-sm bold" id="lokalitet" size="30" ng-model="proeve.lokalitet" ng-click="showLokalitet(proeve.lokalitet_id)" placeholder="Lokalitet" readonly style="background-color:#fff;" />
						  <span class="input-group-btn">
								<button role="button" class="btn btn-primary btn-sm" ng-click="showLokalitet(proeve.lokalitet_id)" ng-disabled="!proeve.lokalitet_id"><i class="fa fa-edit"></i></button>
							</span>
						</div>

						&nbsp;
				  	<label for="indsamlingsdato" class="normal">Indsamlingsdato</label>
				    <input type="text" ng-model="proeve.indsamlingsDato" class="form-control input-sm bold" data-date-format="dd-MM-yyyy" size="8" bs-datepicker data-autoclose="true" id="indsamlingsdato" ng-change="proeve.edited = true" />

						&nbsp;
				  	<label for="filtreringsVolumen" class="normal">Filtreringsvolumen</label>
				    <input type="text" ng-model="proeve.filtreringsVolumen" class="form-control input-sm bold" size="10" id="filtreringsVolumen" ng-change="proeve.edited = true" only-digits />

					</fieldset>

					<fieldset>
						<legend>Indsamlerdata</legend>

				  	<label for="Indsamler" class="normal">Indsamlernavn</label>
				    <input type="text" ng-model="proeve.indsamlerNavn" class="form-control input-sm bold" size="20" id="Indsamler" ng-change="proeve.edited = true" />

						&nbsp;
				  	<label for="Mailadresse" class="normal">Email</label>
				    <input type="text" ng-model="proeve.indsamlerEmail" class="form-control input-sm bold" size="18" id="Mailadresse" ng-change="proeve.edited = true" />
						&nbsp;
				  	<label for="Institutionsnavn" class="normal">Institutionsnavn</label>
				    <input type="text" ng-model="proeve.Institutionsnavn" class="form-control input-sm bold" size="30" id="Institutionsnavn" ng-change="proeve.edited = true" />

					</fieldset>

					<fieldset>
						<legend>Ekstraktionsdata</legend>

				  	<label for="DatoForEkst" class="normal">Ekstraktionsdato</label>
				    <input type="text" ng-model="proeve.ekstraktionsDato" class="form-control input-sm bold" data-date-format="dd-MM-yyyy" size="8" bs-datepicker data-autoclose="true" id="DatoForEkst" ng-change="proeve.edited = true" />
						&nbsp;
				  	<label for="ElueretI" class="normal">Elueringsvolumen</label>
				    <input type="text" ng-model="proeve.elueringsVolumen" class="form-control input-sm bold" size="6" id="ElueretI" ng-change="proeve.edited = true" />
						&nbsp;
				  	<label for="ngUl" class="normal">DNA ng/µl</label>
				    <input type="text" ng-model="proeve.ngUl" class="form-control input-sm bold" size="6" id="ngUl" ng-change="proeve.edited = true" />
						&nbsp;
				  	<label for="aliquot" class="normal">Aliquot volumen</label>
				    <input type="text" ng-model="proeve.aliquotVolumen" class="form-control input-sm bold" size="6" id="aliquot" ng-change="proeve.edited = true" />

					</fieldset>

				  <div class="form-group" style="width:49%;">
						<button type="button" class="btn btn-primary btn-xs" ng-click="addKommentar()" title="Tilføj note / kommentar"><i class="fa fa-plus"></i></button>
						<b>Noter</b>
						<table class="table-striped">
							<tr ng-repeat="k in proeve.kommentarer" class="info">
								<td><span style="color:red;cursor:pointer;" ng-click="removeKommentar(k.kommentar_id)">×</span>&nbsp;</td>
								<td title="Oprettet af {{ k.created_userName }} {{ k.created_timestamp | date:'dd/MM/yyyy Kl. HH.mm' }}" style="white-space:normal !important;"> 
									{{ k.kommentar }} 
								</td>
							</tr>
						</table>
					</div>

				  <div class="form-group" style="width:49%;">
						<button type="button" class="btn btn-primary btn-xs" ng-click="addResultat()" title="Tilføj nyt resultat"><i class="fa fa-plus"></i></button>
						<b>Resultater</b>
						<table class="table-striped">
							<tr ng-repeat="r in proeve.resultater" class="info resultat" title="Vis resultat" ng-click="showResultat(r)">
								<td>#{{ r.resultat_id }} &nbsp;</td>
								<td>{{ r.created_userName }} &nbsp;</td>
								<td>{{ r.created_timestamp |  date:'dd/MM/yyyy Kl. HH.mm' }} &nbsp;</td>
								<td>{{ r.replikater }} replikater</td>
							</tr>
						</table>
					</div>

				</form>
	
			</div>
			
			<div class="modal-footer">
				<span style="float:left;">
					<button type="button" class="btn btn-danger" ng-click="deleteProeve(proeve.proeve_id)" ng-disabled="proeve.Resultat.length > 0" title="Prøve oprettet af {{ proeve.created_userName}}, {{ proeve.created_timestamp | date }}">
						Slet Prøve
					</button> 
				</span>
				<button type="button" class="btn btn-primary" ng-click="$hide()" id="closeBtn">Luk</button> 
			</div>
		</div>
	</div>
</div>
