.rule {
	width:100%;
	display: block;
	float: left;
	clear: both;
	height: 10px;
}

.modal-body {
	padding: 20px;
}

.inject-control {
	height: auto !important;
	padding : 0px;
	display: inline;
	float: none;
	clear: none;
}

