
#modal-proeve .modal-dialog {
	min-width: 70% !important;
	width: 70% !important;
	max-width: 80% !important;
	height: auto !important;
}

.rule {
	width:100%;
	display: block;
	float: left;
	clear: both;
	height: 10px;
}

.modal-body {
	padding: 20px;
	overflow: visible;
}

.inject-control {
	height: auto !important;
	padding : 0px;
	display: inline;
	float: none;
	clear: none;
}

/* from lokalitet.modal.html */

.typeahead {
	z-index:10000;
}
.checkbox input[type="checkbox"] {
	margin-left: 0px;
}
.checkbox input[type="checkbox"] {
	position: relative;
	top: 2px;
}

div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled),
div.dt-button-collection div.dt-button:active:not(.disabled),
div.dt-button-collection div.dt-button.active:not(.disabled),
div.dt-button-collection a.dt-button:active:not(.disabled),
div.dt-button-collection a.dt-button.active:not(.disabled) {
	padding: 2px;
	padding-left: 5px;
	padding-top: 4px;
}

button.dt-button, 
div.dt-button, 
a.dt-button {
  box-shadow: inset 1px 1px 3px #666;
	border: 0px !important;
	background-image: none !important;
	background-color: white;

	padding: 2px;
	padding-left: 5px;
	padding-top: 4px;
}

div.dt-button-collection {
	padding: 4px 4px 2px 4px; /*8px 8px 4px 8px*/
}

/* columns dropdown backdrop */
div.dt-button-background {
  background: rgba(0, 0, 0, 0.09) !important;
}

.colvis-btn {
	margin-left: 100px;
}

/* !! */
table.table thead .sorting_asc:before,
table.table thead .sorting_desc:before {
	color: blue;
}

td.td-ellipsis {
	max-width:200px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

td.td-wordwrap {
	max-width: 70px !important;
	white-space: pre-wrap;
	word-wrap: normal;
}

tr.resultat:hover {
	cursor: pointer;
	color: navy;
}

/** fieldset **/
fieldset {
	border: 1px solid #ccc !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow:  0px 0px 0px 0px #ccc;
	box-shadow:  0px 0px 0px 0px #ccc;
	border-radius: 3px;
}
legend {
	font-size: 100% !important;
	text-align: left !important;
	width:auto;
	padding:0 10px;
	border-bottom:none;
}

.datepicker {
	z-index:1151 !important;
}

#dtProeve td.dt-note {
	max-width: 300px !important;
	overflow-x: hidden;
  text-overflow: ellipsis;
}
td.proeve-kommentar  {
	max-width: 100% !important;
	width: 500px;
	overflow-x: hidden;
  text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	word-break: keep-all;
}
