<div class="container">

	<table datatable="ng" class="table table-striped" dt-options="proeveOptions" dt-columns="proeveColumns" dt-instance="proeveInstance" dt-column-defs="proeveColumnDefs" style="max-width:100% !important;">
		<tbody>
			<tr ng-repeat="proeve in proever" ng-click="showProeve(proeve.proeve_id)" >
				<td> {{ proeve.proeve_nr }} </td>
				<td> {{ proeve.lokalitet }} </td>
				<td> {{ proeve.indsamlingsdato_fixed }} </td>
				<td> {{ proeve.Indsamler }} </td>
				<td> {{ proeve.KuvertAfsendt }} </td>
				<td> {{ proeve.ProeverModtaget_fixed }} </td>
				<td> {{ proeve.DatoForEkst_fixed }} </td>
				<td> {{ proeve.ElueretI }} </td>
				<td> {{ proeve.ngUl }} </td>
				<td> {{ proeve.dataset }} </td>
			</tr>
		</tbody>
	</table>

</div>
