<style>
</style>
<br>

<form class="form-inline" role="form">
  <div class="form-group">
    <label for="sagsNo">Sagsnr.&nbsp;</label>
    <input type="text" ng-model="booking.sagsNo" class="form-control input-sm" size="10" id="sagsNo" ng-disabled="bookingLoaded()">
  </div>

  <div class="form-group">
    <label for="DatoForBooking">Dato booking</label>
    <input type="text" ng-model="booking.DatoForBooking" bs-datepicker data-date-language="da" data-date-format="dd-MM-yyyy" class="form-control input-sm" size="7" id="DatoForBooking" ng-disabled="bookingLoaded()">
  </div>
  <div class="form-group">
    <label for="DatoForBesoeg">Dato besøg</label>
    <input type="text" ng-model="booking.DatoForBesoeg" bs-datepicker data-date-format="dd-MM-yyyy" class="form-control input-sm" size="7" id="DatoForBesoeg" ng-disabled="bookingLoaded()">
  </div>

  <div class="form-group">
    <label for="aar_periode">Årsperiode</label>
    <input type="number" ng-model="booking.aar_periode" class="form-control input-sm" size="1" id="aar_periode" ng-disabled="bookingLoaded()">
  </div>
  <div class="form-group">
    <label for="periode">Periode</label>
    <input type="number" ng-model="booking.periode" class="form-control input-sm" size="1" id="periode" ng-disabled="bookingLoaded()">
  </div>
  <button type="submit" class="btn btn-primary btn-sm" ng-disabled="bookingLoaded()" ng-click="saveBooking()"	>Gem</button>
</form>

<br>
<div class="form-group">
	<button type="button" class="btn btn-primary btn-sm" ng-click="createKlasse()" ng-disabled="bookingLoaded()" title="Tilføj en ny klasse / institution">
		<i class="fa fa-plus"></i>
	</button>
	<label>&nbsp;Klasser</label>
</div>

<div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
	<div class="panel panel-default" ng-repeat="klasse in klasser" data-klasse-id="{{ klasse.klasse_id }}" >

		<div class="panel-heading" role="tab">
			<h4 class="panel-title">
				<a bs-collapse-toggle>
					{{ klasse.institutionsnavn }}
				</a>
				<button type="button" class="btn btn-primary btn-xs float-right" ng-click="saveKlasse(klasse.klasse_id)" ng-show="klasseIsEdited(klasse.klasse_id)" title="Gem ændringer">
					Gem ændringer
				</button>
			</h4>
		</div>

		<div class="panel-collapse collapse" role="tabpanel" bs-collapse-target>
			<div class="panel-body">

				<fieldset>
					<legend>Oversigt</legend>
					<br>
					<form class="form-inline">
						<div class="form-group">
					  	<label for="status">Status</label>
							<select class="form-control input-sm" ng-options="s.value as s.text for s in statusOptions" ng-model="klasse.status">
							<!--
								<option value="-1">Aflyst</option>
								<option value="0">Ikke bekræftet</option>
								<option value="1">Bekræftet</option>
							-->
							</select>
					  	<label for="status">Dato booking</label>
					    <input type="text" ng-model="klasse.DatoForBooking" class="form-control input-sm" data-date-format="dd-MM-yyyy" size="8" bs-datepicker ng-disabled="bookingLoaded()">

					  	<label for="status">Dato Besøg</label>
					    <input type="text" ng-model="klasse.DatoForBesoeg" class="form-control input-sm" data-date-format="dd-MM-yyyy" size="8" bs-datepicker ng-disabled="bookingLoaded()">

					  	<label for="status">Dato Ekst.</label>							
					    <input type="text" ng-model="klasse.DatoForEkst" class="form-control input-sm" data-date-format="dd-MM-yyyy" size="8" bs-datepicker ng-disabled="bookingLoaded()">
						</div>
						<br><br>
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" id="KuvertProeverAfsendt" ng-model="klasse.KuvertProeverAfsendt"> 
						  	<label for="KuvertProeverAfsendt">Kuvert prøver afsendt</label>
							</div>
							&nbsp;&nbsp;
							<div class="checkbox">
								<input type="checkbox" id="Proevermodtaget" ng-model="klasse.Proevermodtaget"> 
						  	<label for="Proevermodtaget">Prøver modtaget</label>
							</div>

						</div>
					</form>
				</fieldset>

				<fieldset>
					<legend>Institution</legend>
					<form class="form-horizontal">
						<div class="form-group ">
							<div class="col-sm-5">
								<input type="text" ng-model="klasse.institutionsnavn" class="form-control input-sm" institution-typeahead ng-disabled="bookingLoaded()" placeholder="Navn">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 no-pad-r">
								<input type="text" ng-model="klasse.adresse" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Adresse">
							</div>
							<div class="col-sm-1 no-pad-l no-pad-r">
								<input type="text" ng-model="klasse.postnr" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Postnr.">
							</div>
							<div class="col-sm-2 no-pad-l no-pad-r">
								<input type="text" ng-model="klasse.kommune" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Kommune">
							</div>
							<div class="col-sm-2 no-pad-l">
								<input type="text" ng-model="klasse.region" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Region">
							</div>
						</div>
					</form>
				</fieldset>

				<fieldset>
					<legend>Lærer</legend>
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-3 no-pad-r">
						    <input type="text" class="form-control input-sm" ng-model="klasse.laererNavn" placeholder="Navn" ng-disabled="bookingLoaded()">
							</div>
							<div class="col-sm-2 no-pad">
						    <input type="text" class="form-control input-sm" ng-model="klasse.laererTlf" placeholder="Telefon" ng-disabled="bookingLoaded()">
							</div>
							<div class="col-sm-2 no-pad">
						    <input type="email" class="form-control input-sm" ng-model="klasse.laererEmail" placeholder="Email" ng-disabled="bookingLoaded()">
							</div>
						</div>
					</form>
				</fieldset>

				<fieldset>
					<legend>Klasse</legend>
					<form class="form-horizontal">
						<div class="form-group">
					    <div class="col-sm-2 no-pad-r">
								<select ng-disabled="bookingLoaded()" class="form-control input-sm" ng-model="klasse.fag">
									<option>{{ klasse.fag }}</option>
									<option ng-repeat="f in fag" value="{{ f.fag_navn }}">{{ f.fag_navn }}</option>
								</select>
							</div>
					    <div class="col-sm-1 no-pad">
								<select ng-disabled="bookingLoaded()" class="form-control input-sm" ng-model="klasse.klassetrin">
									<option>{{ klasse.klassetrin }}</option>
									<option ng-repeat="klasse in klassetrin" value="{{ klasse.klassetrin_navn }}">{{ klasse.klassetrin_navn }}</option>
								</select>
							</div>
					    <div class="col-sm-1 no-pad">
						    <input type="number" ng-model="klasse.antalElever" class="form-control input-sm" placeholder="0" ng-disabled="bookingLoaded()">
							</div>
					    <div class="col-sm-1 no-pad">
						    <input type="number" ng-model="klasse.antalLaerer" class="form-control input-sm" placeholder="0" ng-disabled="bookingLoaded()">
							</div>
							<br><br>
							&nbsp;&nbsp;&nbsp;<label id="kommentarer">Kommentarer :</label>
						</div>
					</form>
				</fieldset>

			</div>
		</div>
	</div>
</div>

