
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

a[role="tab"] {
	cursor: pointer;
}

.datepicker.dropdown-menu button, .timepicker.dropdown-menu button {
  outline: 0;
  border: 0;
}
