<div class="container" style="width: 1200px !important;">

	<div class="col-sm-4">

		<div class="proever" ng-class="{ proeveSelected: !currentTaxonId }" ng-click="proeverClick()" title="Klik for at vise alle prøver">
			<span class="overview-left text-primary">Prøver</span>
			<span class="overview-right">{{ proeveCount }}</span>
		</div>

		<hr class="col-sm-11" style="margin-top:5px;clear:both;display:block;background-color: #ccc;">

		<table class="overview-taxon">
			<thead>
				<tr>
					<th>Undersøgte arter </th>
					<th class="right">Replikater</th>
					<th class="right">Positive</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="!replikater" rowspan="2">
					<td col-span="3">
						<img src="assets/ajax-loader.gif">
					</td>
				</tr>
				<tr ng-repeat="taxon in replikater | orderBy:'taxon_prioritet' " 
						style="line-height:16px;" 
						ng-class=" { selected: currentTaxonId == taxon.taxon_id }">

					<td class="text-primary" style="cursor:pointer;padding-left: 5px;" ng-click="taxonClick(taxon)"> {{ taxon.taxon_navn_dk }} &nbsp;&nbsp;</td>
					<td class="right"> {{ taxon.count }} &nbsp;&nbsp;</td>
					<td class="right"> {{ taxon.found }} &nbsp;&nbsp;</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="col-sm-8">
		<leaflet center="center" 
						defaults="defaults" 
						layers="layers" 
						markers="markers" 
						XXXXevent-broadcast="events" 
						width="95%" 
						height="550px" 
						style="border:1px solid #ccc;border-radius:5px;">
		</leaflet>
	</div>


</div>


