<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title">Booking: <strong>{{ booking.sagsNo }}</strong> </h4>
			</div>
			<div class="modal-body">
		
				<form class="form-inline" role="form">

					<fieldset>
						<legend>Bookingstamdata</legend>

				    <label for="sagsNo" class="normal">SagsNr&nbsp;</label>
						<div class="input-group">
					    <input type="text" ng-model="booking.sagsNo" class="form-control bold input-sm" size="16" id="sagsNo" readonly style="background-color:white;" ng-click="changeSagsNo()">
						  <span class="input-group-btn">
				        <button class="btn btn-primary btn-sm" type="button" title="Ret / skift sagsNr" ng-click="changeSagsNo()"><i class="fa fa-edit"></i></button>
					   </span>
						</div>

						&nbsp;
						<label class="normal" for="status">Status&nbsp;</label>
						<button type="button" id="status" class="btn btn-default bold btn-sm" ng-model="booking.status" data-html="1" bs-options="s.value as s.text for s in statusOptions" ng-class="statusSelectClass" bs-select style="width:120px;">
	  					<span class="caret"></span>
						</button>

						&nbsp;
				    <label for="DatoForBesoeg" class="normal">Besøgsdato&nbsp;</label>
				    <input type="text" class="form-control bold input-sm" ng-model="booking.besoegsDato" bs-datepicker data-date-format="dd-MM-yyyy" class="form-control input-sm" size="7" id="DatoForBesoeg" data-autoclose="true" />

					</fieldset>

					<fieldset>
						<legend>
							<button type="button" class="btn btn-primary btn-xs" ng-click="createKlasse()" title="Tilføj en ny Institution">
								<i class="fa fa-plus"></i>
							</button>
							Institution og klasse
						</legend>

						<table class="col-sm-12 klasse">
							<tbody>
								<tr ng-repeat="klasse in booking.Klasse" ng-click="showKlasse(klasse.klasse_id)" class="no-select">
									<td >
										{{ klasse.institutionsnavn }}
									</td>
									<td>
										{{ klasse.fag }}
									</td>
									<td>
										{{ klasse.niveau }}
									</td>
									<td>
										{{ klasse.klassetrin }}
									</td>
									<td>
										{{ klasse.bookingDato }}
									<td>
										{{ klasse.kitTilsendt }}
									</td>

								</tr>
							</tbody>
						</table>	
					

					</fieldset>

					<!--
				  <div class="form-group">
					</div>
					&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;
				  <div class="form-group">
    				<label for="DatoForBooking" class="normal">Dato for Booking:&nbsp;</label>
				    <input type="text" class="form-control bold" ng-model="booking.DatoForBooking" bs-datepicker data-date-language="da" data-date-format="dd-MM-yyyy" class="form-control input-sm" size="7" id="DatoForBooking" data-autoclose="true" />
				  </div>
					&nbsp;&nbsp;&nbsp;
				  <div class="form-group">
				  </div>
					-->

				</form>

				<div class="form-group">
					<button type="button" class="btn btn-primary btn-xs" ng-click="createKlasse()" title="Tilføj en ny klasse / institution">
						<i class="fa fa-plus"></i>
					</button>
					<label>Klasse / institution</label>
				</div>

				<table class="col-sm-12 klasse">
					<tbody>
						<tr ng-repeat="klasse in booking.Klasse">
							<td style="width:30px;">
								<button role="button" class="btn btn-primary btn-xs" ng-click="showKlasse(klasse.klasse_id)">
									<i class="fa fa-edit"></i>
								</button>
							</td>
							<td ng-dblclick="showKlasse(klasse.klasse_id)" class="no-select">
								{{ klasse.institutionsnavn }} {{ klasse.klassetrin }} {{ klasse.fag }}
							</td>
						</tr>
					</tbody>
				</table>	

			</div>

			<div class="modal-footer">
				<span style="float: left;">
					<button type="button" class="btn btn-danger" ng-click="deleteBooking()"> 
						Slet Booking
					</button>
				</span>

				<button type="button" class="btn btn-primary" ng-click="$hide()"> 
					<i class="fa fa-ok"></i>Luk
				</button> 
			</div>
		</div>
	</div>
</div>
