<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title"><strong>{{ booking.sagsNo }}</strong> - {{ klasse.institutionsnavn }} </h4>
			</div>
			<div class="modal-body">

				<form class="form-inline" role="form" id="klasse-form">

				  <div class="form-group">
						&nbsp;&nbsp;
				  	<label for="DatoForBooking" class="normal">Bookingdato</label>
				    <input type="text" id="DatoForBooking" ng-model="klasse.DatoForBooking" class="form-control input-sm bold" data-date-format="dd-MM-yyyy" size="8" bs-datepicker data-autoclose="true" />
				  </div>

					<fieldset>
						<legend>Institutionsdata</legend>

				  	<label for="status" class="normal">Institution</label>
						<input type="text" ng-model="klasse.institutionsnavn" size="60" class="form-control input-sm bold" XXXinstitution-typeahead placeholder="Institutionsnavn" id="institution">
						&nbsp;
				    <label for="adressse" class="normal">Adresse</label>
						<input type="text" ng-model="klasse.adresse" class="form-control input-sm bold" id="adresse" placeholder="Adresse" />
						&nbsp;
				    <label for="postnr" class="normal">Postnr</label>
						<input type="text" ng-model="klasse.postnr" class="form-control input-sm bold" id="postnr" size="4" placeholder="Postnr." />
						&nbsp;
				    <label for="by" class="normal">By</label>
						<input type="text" ng-model="klasse.by" class="form-control input-sm bold" id="by" placeholder="By" />
						&nbsp;
				    <label for="kommune" class="normal">Kommune</label>
						<input type="text" ng-model="klasse.kommune" class="form-control input-sm bold" id="kommune" placeholder="Kommune" />
						&nbsp;
				    <label for="region" class="normal">Region</label>
						<input type="text" ng-model="klasse.region" class="form-control input-sm bold" id="region" placeholder="Region" />
					</fieldset>

					<fieldset>
						<legend>Klassedata</legend>

				    <label for="laererNavn" class="normal">Lærerens navn</label>
				    <input type="text" class="form-control input-sm bold" id="learerNavn" ng-model="klasse.laererNavn" placeholder="Navn" />
						&nbsp;
				    <label for="laererTlf" class="normal">Tlf.</label>
				    <input type="text" class="form-control input-sm bold" id="laererTlf" ng-model="klasse.laererTlf" placeholder="Telefon" />
						&nbsp;
				    <label for="laererEmail" class="normal">Email</label>
				    <input type="email" class="form-control input-sm bold" id="laererEmail" ng-model="klasse.laererEmail" placeholder="Email">
					<fieldset>

				  <div class="form-group">
						&nbsp;&nbsp;
				  	<label for="DatoForBooking" class="normal">Dato booking</label>
				    <input type="text" id="DatoForBooking" ng-model="klasse.DatoForBooking" class="form-control input-sm bold" data-date-format="dd-MM-yyyy" size="8" bs-datepicker data-autoclose="true" />
							&nbsp;&nbsp;
				  	<label for="DatoForBesoeg" class="normal">Dato Besøg</label>
				    <input type="text" id="DatoForBesoeg" ng-model="klasse.DatoForBesoeg" class="form-control input-sm bold" data-date-format="dd-MM-yyyy" size="8" bs-datepicker data-autoclose="true" />
				  </div>


					<div class="rule"></div>

					<div class="form-group">
						<div class="checkbox">
							<input type="checkbox" id="KuvertProeverAfsendt" ng-model="klasse.KuvertProeverAfsendt"> 
					  	<label for="KuvertProeverAfsendt">Kuvert prøver afsendt</label>
						</div>
						<!--
						&nbsp;&nbsp;
						<div class="checkbox">
							<input type="checkbox" id="Proevermodtaget" ng-model="klasse.Proevermodtaget"> 
					  	<label for="Proevermodtaget">Prøver modtaget</label>
						</div>
						-->
					</div>

					<div class="rule-sm"></div>	

					<div class="form-group">
					</div>

					<div class="rule-lg"></div>

					<div class="form-group">
				    <label for="fag" class="normal">Fag</label>
						<select class="form-control input-sm bold" ng-model="klasse.fag" id="fag">
							<option>{{ klasse.fag }}</option>
							<option ng-repeat="f in fag" value="{{ f.fag_navn }}">{{ f.fag_navn }}</option>
						</select>

						&nbsp;&nbsp;
				    <label for="klassetrin" class="normal">Klassetrin</label>
						<select class="form-control input-sm bold" ng-model="klasse.klassetrin" id="klassetrin">
							<option>{{ klasse.klassetrin }}</option>
							<option ng-repeat="klasse in klassetrin" value="{{ klasse.klassetrin_navn }}">{{ klasse.klassetrin_navn }}</option>
						</select>

						&nbsp;&nbsp;
				    <label for="antalElever" class="normal">Antal elever</label>
				    <input type="number" ng-model="klasse.antalElever" class="form-control input-sm bold" id="antalElever" placeholder="0">

						&nbsp;&nbsp;
				    <label for="antalLaerer" class="normal">Antal lærere</label>
				    <input type="number" ng-model="klasse.antalLaerer" class="form-control input-sm bold" id="antalLaerer" placeholder="0">
					</div>

					<div class="rule"></div>

				  <div class="form-group" style="width:50%;">
						<button type="button" class="btn btn-primary btn-xs" ng-click="addKlasseKommentar()"><i class="fa fa-plus"></i></button>&nbsp;Noter
						<table class="table-striped">
							<tr ng-repeat="k in klasse.kommentarer" class="info">
								<td><span style="color:red;cursor:pointer;" ng-click="removeKlasseKommentar(k.kommentar_id)">×</span>&nbsp;</td>
								<td title="Oprettet af {{ k.created_userName }} {{ k.created_timestamp | date:'dd/MM/yyyy Kl. HH.mm' }}" style="white-space:normal !important;"> 
									{{ k.kommentar }} 
								</td>
							</tr>
						</table>
					</div>

				</form>
		
			</div>
			
			<div class="modal-footer">
				<span style="float:left;">
					<button type="button" class="btn btn-danger" ng-click="deleteKlasse(klasse.klasse_id, klasse.institutionsnavn)"></i>Slet</button> 
				</span>				
				<button type="button" class="btn btn-primary" ng-disabled="!klasseIsEdited()" ng-click="saveKlasse()"></i>Gem</button> 
				<button type="button" class="btn btn-default" ng-click="$hide()"> <i class="fa fa-ok"></i>Luk</button> 
			</div>

		</div>
	</div>
</div>
