<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title"><strong>{{ klasse.institutionsnavn }}</strong> </h4>
			</div>
			<div class="modal-body">

<!--
<div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
	<div class="panel panel-default" ng-repeat="klasse in bookingKlasser" data-klasse-id="{{ klasse.klasse_id }}" >

		<div class="panel-heading" role="tab">
			<h4 class="panel-title">
				<a bs-collapse-toggle>
					{{ klasse.institutionsnavn }}
				</a>
				<button type="button" class="btn btn-primary btn-xs float-right" ng-click="saveKlasse(klasse.klasse_id)" ng-show="klasseIsEdited(klasse.klasse_id)" title="Gem ændringer">
					Gem ændringer
				</button>
			</h4>
		</div>

		<div class="panel-collapse collapse" role="tabpanel" bs-collapse-target>
			<div class="panel-body">

				<fieldset>
					<legend>Oversigt</legend>
					<br>
					<form class="form-inline">
						<div class="form-group">
					  	<label for="status">Status</label>
							<select class="form-control input-sm" ng-options="s.value as s.text for s in statusOptions" ng-model="klasse.status">
							</select>
					  	<label for="status">Dato booking</label>
					    <input type="text" ng-model="klasse.DatoForBooking" class="form-control input-sm" data-date-format="dd-MM-yyyy" size="8" bs-datepicker ng-disabled="bookingLoaded()">

					  	<label for="status">Dato Besøg</label>
					    <input type="text" ng-model="klasse.DatoForBesoeg" class="form-control input-sm" data-date-format="dd-MM-yyyy" size="8" bs-datepicker ng-disabled="bookingLoaded()">

					  	<label for="status">Dato Ekst.</label>							
					    <input type="text" ng-model="klasse.DatoForEkst" class="form-control input-sm" data-date-format="dd-MM-yyyy" size="8" bs-datepicker ng-disabled="bookingLoaded()">
						</div>
						<br><br>
						<div class="form-group">
							<div class="checkbox">
								<input type="checkbox" id="KuvertProeverAfsendt" ng-model="klasse.KuvertProeverAfsendt"> 
						  	<label for="KuvertProeverAfsendt">Kuvert prøver afsendt</label>
							</div>
							&nbsp;&nbsp;
							<div class="checkbox">
								<input type="checkbox" id="Proevermodtaget" ng-model="klasse.Proevermodtaget"> 
						  	<label for="Proevermodtaget">Prøver modtaget</label>
							</div>

						</div>
					</form>
				</fieldset>

				<fieldset>
					<legend>Institution</legend>
					<form class="form-horizontal">
						<div class="form-group ">
							<div class="col-sm-5">
								<input type="text" ng-model="klasse.institutionsnavn" class="form-control input-sm" institution-typeahead ng-disabled="bookingLoaded()" placeholder="Navn">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 no-pad-r">
								<input type="text" ng-model="klasse.adresse" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Adresse">
							</div>
							<div class="col-sm-1 no-pad-l no-pad-r">
								<input type="text" ng-model="klasse.postnr" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Postnr.">
							</div>
							<div class="col-sm-2 no-pad-l no-pad-r">
								<input type="text" ng-model="klasse.kommune" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Kommune">
							</div>
							<div class="col-sm-2 no-pad-l">
								<input type="text" ng-model="klasse.region" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Region">
							</div>
						</div>
					</form>
				</fieldset>

				<fieldset>
					<legend>Lærer</legend>
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-3 no-pad-r">
						    <input type="text" class="form-control input-sm" ng-model="klasse.laererNavn" placeholder="Navn" ng-disabled="bookingLoaded()">
							</div>
							<div class="col-sm-2 no-pad">
						    <input type="text" class="form-control input-sm" ng-model="klasse.laererTlf" placeholder="Telefon" ng-disabled="bookingLoaded()">
							</div>
							<div class="col-sm-2 no-pad">
						    <input type="email" class="form-control input-sm" ng-model="klasse.laererEmail" placeholder="Email" ng-disabled="bookingLoaded()">
							</div>
						</div>
					</form>
				</fieldset>

				<fieldset>
					<legend>Klasse</legend>
					<form class="form-horizontal">
						<div class="form-group">
					    <div class="col-sm-2 no-pad-r">
								<select ng-disabled="bookingLoaded()" class="form-control input-sm" ng-model="klasse.fag">
									<option>{{ klasse.fag }}</option>
									<option ng-repeat="f in fag" value="{{ f.fag_navn }}">{{ f.fag_navn }}</option>
								</select>
							</div>
					    <div class="col-sm-1 no-pad">
								<select ng-disabled="bookingLoaded()" class="form-control input-sm" ng-model="klasse.klassetrin">
									<option>{{ klasse.klassetrin }}</option>
									<option ng-repeat="klasse in klassetrin" value="{{ klasse.klassetrin_navn }}">{{ klasse.klassetrin_navn }}</option>
								</select>
							</div>
					    <div class="col-sm-1 no-pad">
						    <input type="number" ng-model="klasse.antalElever" class="form-control input-sm" placeholder="0" ng-disabled="bookingLoaded()">
							</div>
					    <div class="col-sm-1 no-pad">
						    <input type="number" ng-model="klasse.antalLaerer" class="form-control input-sm" placeholder="0" ng-disabled="bookingLoaded()">
							</div>
							<br><br>
							&nbsp;&nbsp;&nbsp;<label id="kommentarer">Kommentarer :</label>
						</div>
					</form>
				</fieldset>

			</div>
		</div>
	</div>
</div>
-->


			</div>
			
			<div class="modal-footer">
				<hr>	
				<div xclass="col-md-6">
					<button type="button" class="btn btn-primary" ng-click="$hide()"> 
						<i class="fa fa-ok"></i>Luk
					</button> 
				</div>
			</div>
		</div>
	</div>
</div>
