<style>
.modal-body {
	padding: 0px;
	padding-top: 5px;
}
.typeahead {
	z-index:10000;
}
.checkbox input[type="checkbox"] {
	margin-left: 0px;
}
input.sm-pad {
	padding-left: 1px;
	padding-right: 1px;
}
.checkbox input[type="checkbox"] {
	position: relative;
	top: 2px;
}
span.map-tool {
	float: right;
	right: 120px;
	display: inline-block;
	position: relative;
	margin: 0px;
	top: -3px;
	background-color:#ebebeb;
	padding:4px;
	top:-8px;
	padding-right:22px;
}
</style>
<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title"	style="display:inline-block;"><strong> {{ booking.sagsNo }}</strong> - {{ klasse.klasse_id ? " - " : "" }} Lokalitet </h4>

				<span class="checkbox no-select map-tool">
					<label for="locked" title="Lås kort og lokalitetsmarkør">Låst</label>
					<input type="checkbox" ng-model="lokalitet.locked" id="locked">
					&nbsp;&nbsp;

					<label for="centerMarker" title="Centrer kort om lokalitetsmarkør" ng-click="centerMarker()"><i class="fa fa-dot-circle-o"></i></label>
					&nbsp;&nbsp;

					<label for="showMarker" title="Skjul / Vis lokalitetsmarkør"><i class="fa fa-map-marker"></i></label>
					<input type="checkbox" ng-model="lokalitet.showMarker" ng-change="showMarker()" id="showMarker">
					&nbsp;
					<label for="showPopup" title="Skjul / vis beskrivelse"><i class="fa fa-comment-o"></i></label>  
					<input type="checkbox" ng-model="lokalitet.show" id="showPopup" xxng-change="showMarker()">
					&nbsp;
					<label for="showPolygon" title="Skjul / vis polygon"><i class="fa fa-hand-lizard-o"></i></label>  
					<input type="checkbox" ng-model="lokalitet.showPolygon" ng-change="showPolygon()" id="showPolygon">

				</span>

			</div>
			<div class="modal-body">

				<form class="form-inline" role="form" style="margin-left:10px;margin-bottom:5px;">
				  <div class="form-group">
						<input type="text" class="form-control input-sm wetland" size="50" ng-model="lokalitet.presentationString" id="lokalitet_wetland" placeholder="Sø, å, mose ...">
				  </div>
				  <div class="form-group">
				    <label for="lat">Lat.</label>
				    <input type="text" ng-model="lokalitet.latitude" class="form-control input-sm sm-pad" size="13" id="lat" ng-disabled="lokalitet.locked">
				  </div>
				  <div class="form-group">
				    <label for="lng">Lng.</label>
				    <input type="text" ng-model="lokalitet.longitude" class="form-control input-sm sm-pad" size="13" id="lng" ng-disabled="lokalitet.locked">
				  </div>
				  <div class="form-group">
				    <label for="x_gps">XGPS</label>
				    <input type="text" ng-model="lokalitet.X_GPS" class="form-control input-sm" size="5" id="x_gps" ng-disabled="lokalitet.locked">
				  </div>
				  <div class="form-group">
				    <label for="y_gps">XGPS</label>
				    <input type="text" ng-model="lokalitet.Y_GPS" class="form-control input-sm" size="5" id="y_gps" ng-disabled="lokalitet.locked">
				  </div>
					<button role="button" class="btn btn-primary btn-sm" ng-click="saveLokalitet()">Gem</button>

				</form>

				<form class="form-horizontal">
					<div zzclass="form-group">
						<div class="col-sm-12">
							<div id="map" style="height:60vh;width:100%;"></div>
						</div>
					</div>
				</form>
	
			</div>
		
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()"> <i class="fa fa-ok"></i> Luk</button> 
			</div>

		</div>
	</div>
</div>

