.trash { 
	color:rgb(209, 91, 71); 
}
th {
	cursor: pointer;
}
th.action, td.action {
	width: 30px;
	max-width: 30px;
	cursor: pointer;
}
.padding-right-10 {
	margin-right:20px;
}
td {
	white-space: nowrap;
	cursor: pointer;
}
th {
	white-space: nowrap;
	padding-left: 10px !important;
	padding-right: 30px !important;
}
.inject-control {
	height: auto !important;
	padding : 0px;
	display: inline;
	float: none;
	clear: none;
}
.btn-status {
	width: 90px;
}
