/*
.trash { 
	color:rgb(209, 91, 71); 
}
*/
th {
	cursor: pointer;
}
th.action, td.action {
	width: 30px;
	max-width: 30px;
	cursor: pointer;
}
.padding-right-10 {
	margin-right:20px;
}
td {
	white-space: nowrap;
	vertical-align: top;
}
th {
	white-space: nowrap;
	padding-left: 10px !important;
	padding-right: 30px !important;
}
.inject-control {
	height: auto !important;
	padding : 0px;
	display: inline;
	float: none;
	clear: none;
}
.btn-status {
	width: 90px;
}

table.hover tbody tr:hover {
	background-color: #ebebeb !important;
}

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

td.may-break {
	white-space: pre-wrap;
}

/* from booking.modal.html */
.modal-open {
    overflow: scroll;
}
.modal-body {
	padding: 20px;
}
table.klasse {
	border-collapse: separate; 
	border-spacing: 0px 5px;
}
.modal-footer {
	clear: both;
	width: 100%;
}

td.center {
	padding-left: 25px !important;
}

/* oversigt.html */
button.new-booking {
	float: none;
	clear: none;
	margin-left: 200px;
}
.dataTables_wrapper .dataTables_filter  {
	clear: none;
	display: inline;
	float: right;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding-left: 1px;
	padding-right: 0px;
	background-color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: white !important;
	border: 1px solid white;
}

.dt-custom {
	display: inline;
	clear: none;
	float: left;
}

.ml25px {
	margin-left: 25px;
}
.mr25px {
	margin-right: 25px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.rule-sm {
	width:100%;
	display: block;
	float: left;
	clear: both;
	height: 10px !important;
}
.rule-lg {
	width:100%;
	display: block;
	float: left;
	clear: both;
	height: 20px !important;
}
