
#proeve-map {
}

table.visualisering-popup td:nth-child(1) {
	font-weight: bold;
	padding-right: 5px;
}

.green {
	color: green !important;
}

.leaflet-popup-content {
	width:auto !important;
}

tags-input .tags .tag-item {
	background: #fff !important;
	box-shadow: none;
}
tags-input .tags {
	box-shadow: 1px 1px 1px 0 #ebebeb inset;
  border: 1px solid #ebebeb !important;
}
tags-input .tags.focused {
	box-shadow: 1px 1px 1px 0 #ebebeb outset !important;
  border: 1px solid #ebebeb !important;
}

#formSoeg label {
	width: 110px;
	margin-left: 10px;
}
#formSoeg .form-group {
	padding-bottom: 2px;
}

input.no-padding {
	padding-left: 2px;
	padding-right: 2px;
}

.resultTable thead {
	border-color: none !important;
}
.resultTable thead th {
	border-bottom: 0px !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 1px solid #ebebeb;
}

/** tagsinput **/
.label {
	font-size: 90%
}
.label-info {
	background-color: #2e6da4;
}

