<div class="container">

	<div style="float:left;clear:left;width: 345px;">
		<button class="btn btn-sm pull-right" 
						style="margin-right:10px;" 
						ng-class="{ 'btn-primary': soegHasParams() }" 
						ng-disabled="!soegHasParams()"
						ng-click="downloadGBIF()">
				Download data
		</button>

		<button class="btn btn-sm pull-right" 
						style="margin-right:10px;" 
						ng-class="{ 'btn-primary': soegHasParams() }" 
						ng-disabled="!soegHasParams()"
						ng-click="resetForm()">
			Nulstil
		</button>

		<br>
		<h4>Analysedata</h4>

		<form class="form-inline" id="formSoeg">
		  <div class="form-group">
		  	<label for="sagsNr" class="normal">SagsNr</label>&nbsp;
				<input type="text" 
							class="form-control input-sm bold" 
							placeholder="" 
							ng-model="soeg.sagsNo"
						  bs3-typeahead
							bs3-promise="sagsNoArray"/>

		  </div>

		  <div class="form-group">
		  	<label for="analyseDato" class="normal">Analysedato</label>&nbsp;
				<input type="text" 
							ng-model="soeg.analyseDato" 
							class="form-control input-sm bold no-padding" 
							placeholder="" 
							data-date-format="dd-MM-yyyy" 
							size="8" 
							bs-datepicker data-autoclose="true" />
		  </div>

		  <div class="form-group">
		  	<label for="institution" class="normal">Institutionsnavn</label>&nbsp;
				<input type="text" 
							class="form-control input-sm bold" 
							placeholder="" 
							ng-model="soeg.institutionsNavn"
						  bs3-typeahead
							bs3-promise="institutionArray" />
		  </div>

		  <div class="form-group">
		  	<label for="laererNavn" class="normal">Lærerens navn</label>&nbsp;
				<input type="text" 
							class="form-control input-sm bold" 
							placeholder="" 
							ng-model="soeg.laererNavn"
						  bs3-typeahead
							bs3-promise="laererArray"/>
		  </div>

		  <div class="form-group">
		  	<label for="kommune" class="normal">Kommune</label>
				<input type="text" 
							class="form-control input-sm bold" 
							id="kommune"
							placeholder="" 
							ng-model="soeg.kommune"
						  bs3-typeahead
							bs3-promise="kommuneArray"
							bs3-afterSelect="getKommunePolygon"/>
		  </div>

		  <div class="form-group">
		  	<label for="region" class="normal">Region</label>
				<input type="text" 
							class="form-control input-sm bold" 
							id="region"
							placeholder="" 
							ng-model="soeg.region"
						  bs3-typeahead
							bs3-promise="regionArray"
							bs3-afterSelect="loadRegion"/>
		  </div>


			<h4>Prøvedata</h4>

		  <div class="form-group">
		  	<label for="proeveId" class="normal">PrøveID</label>
				<input type="text" 
							class="form-control input-sm bold" 
							placeholder="" 
							ng-model="soeg.proeveId"
						  bs3-typeahead
							bs3-promise="proeveIdArray"/>

		  </div>

		  <div class="form-group">
		  	<label for="indsamlingsDatoFra" class="normal">Indsamlingsdato</label>
				<input type="text" ng-model="soeg.indsamlingsDatoFra" class="form-control input-sm bold no-padding" size="7" placeholder="" id="indsamlingsDatoFra" data-date-format="dd-MM-yyyy" size="8" bs-datepicker data-autoclose="true"  />
				-
				<input type="text" ng-model="soeg.indsamlingsDatoTil" class="form-control input-sm bold no-padding" size="7" placeholder="" id="indsamlingsDatoTil" data-date-format="dd-MM-yyyy" size="8" bs-datepicker data-autoclose="true" />
		  </div>

		  <div class="form-group">
		  	<label for="indsamler" class="normal">Indsamler</label>
				<input type="text" 
							class="form-control input-sm bold" 
							placeholder="" 
							ng-model="soeg.indsamlerNavn"
						  bs3-typeahead
							bs3-promise="indsamlerArray" />

		  </div>

		  <div class="form-group">
		  	<label for="indsamlerInstitution" class="normal">Institution</label>
				<input type="text" 
							class="form-control input-sm bold" 
							placeholder="" 
							ng-model="soeg.indsamlerInstitution"
						  bs3-typeahead
							bs3-promise="indsamlerInstitutionArray"/>

		  </div>

		</form>
	</div>

	<div style="float:left;clear:none;width:750px;">
		<div data-title="Resultater" id="tab-resultater">
			<table datatable="ng" 
				class="table table-striped resultTable" 
				dt-options="searchOptions" 
				dt-columns="searchColumns" 
				dt-instance="searchInstance" 
				style="max-width:100% !important;">
				<tbody>
					<tr ng-repeat="result in searchResults" >
						<td> {{ result.proeve_nr }} </td>
						<td> {{ result.lokalitet }} </td>
						<td> {{ result.analyseDato }} </td>
						<td> {{ result.taxon_navn_dk }} </td>						
					</tr>
				</tbody>
			</table>
		</div>

		<div data-title="Kort" id="tab-kort">
			<leaflet center="center" geojson="geojson" layers="layers" markers="markers" event-broadcast="events" id="proeve-map" style="height: 600px; width:100%;" style="border:1px solid #ccc;border-radius:5px;"></leaflet>
			<i class="fa fa-check green"></i>&nbsp;Fundet i eDNA
			&nbsp;&nbsp;&nbsp;
			<i class="fa fa-remove red"></i>&nbsp;Ej fundet i eDNA
			&nbsp;&nbsp;&nbsp;
			<i class="fa fa-question"></i>&nbsp;eDNA upålidelig
		</div>

	</div>
</div>
