<div class="container">

	<div bs-tabs>

		<div bs-pane data-title="Undersøgte prøver">
			<div class="col-sm-10" id="proeve-map" style="height: 600px;"></div>
		</div>

		<div bs-pane data-title="Arter">
			<br>
			<form class="form-inline" role="form">
			  <div class="form-group checkbox">
					<tags-input ng-model="arter" add-on-paste="true" placeholder="Tilføj art" class="col-sm-10" >
			      <auto-complete source="taxonTags" min-length="1" ></auto-complete>
			    </tags-input>

					&nbsp;&nbsp;
					<input type="checkbox" ng-model="arterFound" />
			    <label for="arterFound" class="normal">Undersøgt og fundet</label>
					&nbsp;&nbsp;
					<input type="checkbox" ng-model="arterNotFound" />
			    <label for="arterNotFound" class="normal">Undersøgt og ej fundet</label>
			  </div>
			</form>
			<div class="col-sm-10" id="arter-map" style="height: 600px;"></div>
		</div>

		<div bs-pane data-title="Geografisk">
		</div>

	</div>

</div>
