<style>
fieldset {
	border: 1px solid #ebebeb !important;
	padding: 0 1em 1em 1em !important;
	margin: 0 0 0.5em 0 !important;
	-webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
legend {
	font-size: 100% !important;
	text-align: left !important;
	width:auto;
	margin-bottom: 5px;
	border-bottom:none;
}
.float-right {
	float: right;
}
</style>
<br>
<form class="form-inline" role="form">
  <div class="form-group">
    <label for="sagsNo">sagsNo&nbsp;</label>
    <input type="text" ng-model="booking.sagsNo" class="form-control input-sm" size="10" id="sagsNo" ng-disabled="bookingLoaded()">
  </div>
  <div class="form-group">
    <label for="projekt_dato">Dato&nbsp;</label>
    <input type="text" ng-model="projekt.projekt_dato" class="form-control input-sm" data-date-format="dd-MM-yyyy" size="8" id="projekt_dato" bs-datepicker ng-disabled="bookingLoaded()">
  </div>
  <div class="form-group">
    <label for="projekt_tidspunkt">Tid&nbsp;</label>
    <input type="text" ng-model="projekt.projekt_tidspunkt" class="form-control input-sm" size="5" id="projekt_tidspunkt" bs-timepicker data-time-format="HH:mm" data-model-time-format="HH:mm:ss" data-time-type="string" ng-disabled="bookingLoaded()">
  </div>

  <button type="submit" class="btn btn-primary btn-sm" ng-disabled="bookingLoaded()" ng-click="saveProjekt()"	>Gem</button>
</form>

<br>
<div class="form-group">
	<button type="button" class="btn btn-primary btn-sm" ng-click="createKlasse()" ng-disabled="bookingLoaded()" title="Tilføj en ny klasse / institution">
		<i class="fa fa-plus"></i>
	</button>
	<label>&nbsp;Klasser</label>
</div>

<div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
	<div class="panel panel-default" ng-repeat="klasse in klasser" data-klasse-id="{{ klasse.klasse_id }}" >

		<div class="panel-heading" role="tab">
			<h4 class="panel-title">
				<a bs-collapse-toggle>
					{{ klasse.institutionsnavn }}
				</a>
				<button type="button" class="btn btn-primary btn-xs float-right" ng-click="saveKlasse(klasse.klasse_id)" ng-show="klasseIsEdited(klasse.klasse_id)" title="Gem ændringer">
					Gem ændringer
				</button>
			</h4>
		</div>

		<div class="panel-collapse collapse" role="tabpanel" bs-collapse-target>
			<div class="panel-body">

				<fieldset>
					<legend>Institution</legend>
					<form class="form-horizontal">
						<div class="form-group ">
							<div class="col-sm-7">
								<input type="text" ng-model="klasse.institutionsnavn" class="form-control input-sm" institution-typeahead ng-disabled="bookingLoaded()" placeholder="Navn">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<input type="text" ng-model="klasse.adresse" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Adresse">
							</div>
							<div class="col-sm-1">
								<input type="text" ng-model="klasse.postnr" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Postnr.">
							</div>
							<div class="col-sm-2">
								<input type="text" ng-model="klasse.kommune" class="form-control input-sm" ng-disabled="bookingLoaded()" placeholder="Kommune">
							</div>
						</div>
					</form>
				</fieldset>

				<fieldset>
					<legend>Lærer</legend>
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-3">
						    <input type="text" class="form-control input-sm" ng-model="klasse.laerer_navn" placeholder="Navn" ng-disabled="bookingLoaded()">
							</div>
							<div class="col-sm-2">
						    <input type="text" class="form-control input-sm" ng-model="klasse.laerer_tlf" placeholder="Telefon" ng-disabled="bookingLoaded()">
							</div>
							<div class="col-sm-3">
						    <input type="email" class="form-control input-sm" ng-model="klasse.laerer_email" placeholder="Email" ng-disabled="bookingLoaded()">
							</div>
						</div>
					</form>
				</fieldset>

				
				<fieldset>
					<legend>Deltagere</legend>
					<form class="form-horizontal">
						<div class="form-group">
					    <div class="col-sm-3">
								<select ng-disabled="bookingLoaded()" class="form-control input-sm" ng-model="klasse.fag">
									<option>Vælg fag</option>
									<option ng-repeat="f in fag" value="{{ f.fag_id }}">{{ f.fag_navn }}</option>
								</select>
							</div>
					    <div class="col-sm-2">
								<select ng-disabled="bookingLoaded()" class="form-control input-sm" ng-model="klasse.klassetrin">
									<option>Klassetrin</option>
									<option ng-repeat="klasse in klassetrin" value="{{ klasse.klassetrin_id }}">{{ klasse.klassetrin_navn }}</option>
								</select>
							</div>
					    <div class="col-sm-1">
						    <input type="number" ng-model="klasse.antalElever" class="form-control input-sm" placeholder="0" ng-disabled="bookingLoaded()">
							</div>
					    <div class="col-sm-1">
						    <input type="number"  ng-model="klasse.antalLaerer" class="form-control input-sm" placeholder="0" ng-disabled="bookingLoaded()">
							</div>
						</div>
					</form>
				</fieldset>

			</div>
		</div>
	</div>
</div>

