body.modal-open {
    overflow: hidden;
}

#modal-lokalitet .modal-dialog {
	min-width: 90% !important;
	width: 90% !important;
	height: 85% !important;
}

#modal-lokalitet .modal-body {
	padding: 0px;
	padding-top: 3px;
}

#modal-lokalitet .modal-header {
	padding-bottom: 7px !important;
}

#modal-lokalitet .col-sm-12 {
	padding-left: 5px;
	padding-right: 5px;
}

span.map-tool {
	right: 50px;
	display: inline-block;
	position: relative;
	margin: 0px;
	top: -3px;
	padding:4px;
	top: 0px;
	border-radius: 3px;
	font-size: 120%;
	margin-left: 10px;
	clear: none;
}

input.sm-pad {
	padding-left: 3px;
	padding-right: 1px;
}

#modal-lokalitet .popover {
	border: none !important;
}
#modal-lokalitet .popover-title {
	color: #000 !important;
}
#modal-lokalitet .popover-content {
	color: #000 !important;
}

