body.modal-open {
    overflow: hidden;
}

#modal-lokalitet .modal-dialog {
	min-width: 90% !important;
	width: 90% !important;
	height: 85% !important;
}

#modal-lokalitet .modal-body {
	padding: 0px;
	padding-top: 3px;
}

#modal-lokalitet .col-sm-12 {
	padding-left: 5px;
	padding-right: 5px;
}

span.map-tool {
	float: right;
	right: 100px;
	display: inline-block;
	position: relative;
	margin: 0px;
	top: -3px;
	padding:4px;
	top: 0px;
	padding-right:22px;
	border-radius: 3px;
	font-size: 120%;
}

input.sm-pad {
	padding-left: 3px;
	padding-right: 1px;
}


