<div class="modal ng-scope XXtop am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="modal-lokalitet">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title"	style="display:inline-block;">Lokalitet: <strong> {{ __lokalitet.presentationString }} </strong></h4>

				<div style="float:right;position:relative;top:-6px;">

					<span class="checkbox no-select map-tool">
						<button type="button" class="btn btn-primary" ng-click="centerMarker()" title="Centrer kort om lokalitetsmarkør">
							<i class="fa fa-dot-circle-o"></i>&nbsp;center
						</button>
					</span>
	
					<span class="checkbox no-select map-tool XXbg-primary XXtext-primary">

						<button type="button" class="btn btn-default" ng-model="__lokalitet.locked" title="Vis lokalitetsmarkør" ng-change="showMarker()" id="showMarker" bs-checkbox style="focus:outline:none;" ng-class=" { 'btn-primary' : __lokalitet.locked }" >
							<i class="fa fa-lock"></i>
						</button>

						<button type="button" class="btn btn-default" ng-model="__lokalitet.showMarker" title="Vis lokalitetsmarkør" ng-change="showMarker()" id="showMarker" bs-checkbox style="focus:outline:none;"  ng-class=" { 'btn-primary' : __lokalitet.showMarker }">
							<i class="fa fa-map-marker"></i>
						</button>

						<button type="button" class="btn btn-default" ng-model="__lokalitet.showPolygon" title="Vis lokalitet polygon" ng-change="showPolygon()" ng-disabled="hasPolygon()" id="showPolygon" bs-checkbox style="focus:outline:none;">
							<i class="fa fa-crosshairs"></i>
						</button>

					</span>

					<span class="checkbox no-select map-tool XXbg-primary XXtext-primary">

						<button type="button" class="btn btn-default btn-sm" ng-click="createHotspot()" style="focus:outline:none;" title="Opret nyt hotspot" id="createHotspot">
							Nyt hotspot
						</button>

						<button type="button" class="btn btn-default" ng-model="__lokalitet.hotspotsLocked" title="Lås hotspots" ng-change="hotspotsLockedChange()" bs-checkbox style="focus:outline:none;"  ng-class=" { 'btn-primary' : __lokalitet.hotspotsLocked }" >
							<i class="fa fa-lock"></i>
						</button>

						<button type="button" class="btn btn-default" ng-model="__lokalitet.showHotspotMarkers" title="Vis markers" ng-change="showHotspotMarkers()" ng-disabled="hasHotspots()" bs-checkbox style="focus:outline:none;" ng-class=" { 'btn-primary' : __lokalitet.showHotspotMarkers }" >
							<i class="fa fa-map-marker"></i>
						</button>

						<button type="button" class="btn btn-default" ng-model="__lokalitet.showHotspotPopups" title="Vis Info" ng-change="showHotspotPopups()" ng-disabled="hasHotspots()" bs-checkbox style="focus:outline:none;" ng-class=" { 'btn-primary' : __lokalitet.showHotspotPopups }" >
							<i class="fa fa-comment-o"></i>
						</button>

						<button type="button" class="btn btn-default" ng-model="__lokalitet.showHotspotPolygon" title="Vis hotspot polygon" ng-change="showHotspotPolygon()" bs-checkbox style="focus:outline:none;" ng-class=" { 'btn-primary' : __lokalitet.showHotspotPolygon }" >
							<i class="fa fa-crosshairs"></i>
						</button>

					</span>

				</div>

			</div>
			<div class="modal-body">

				<form class="form-inline" role="form" style="margin-left:3px;margin-bottom:5px;">
				  <div cl	ass="form-group">
						<input type="text" select-on-click class="form-control input-sm wetland bold" size="50" ng-model="__lokalitet.presentationString" id="lokalitet_wetland" placeholder="Sø, å, mose ..." ng-disabled="__lokalitet.locked" ng-change="__lokalitet.edited = true" />

						&nbsp;&nbsp;
				    <label for="lat" class="normal">Lat.</label>
				    <input type="text" ng-model="__lokalitet.latitude" class="form-control input-sm sm-pad bold" size="18" id="lat" ng-disabled="__lokalitet.locked" ng-change="__lokalitet.edited = true" >

						&nbsp;&nbsp;
				    <label for="lng" class="normal">Lng.</label>
				    <input type="text" ng-model="__lokalitet.longitude" class="form-control input-sm sm-pad bold" size="18" id="lng" ng-disabled="__lokalitet.locked" ng-change="__lokalitet.edited = true" >

						&nbsp;&nbsp;
						<button type="button" class="btn btn-xs" ng-disabled="!__lokalitet.edited" ng-class=" { 'btn-primary' : __lokalitet.edited }" ng-click="updateLokalitet()" id="updateLokalitetBtn">Gem</button>
					
				  </div>
				</form>

				<form class="form-horizontal">
					<div zzclass="form-group">
						<div class="col-sm-12">
							<div id="map" style="height:60vh;width:100%;"></div>
						</div>
					</div>
				</form>
	
			</div>
		
			<div class="modal-footer">
				<span style="float:left;">
					<button type="button" class="btn btn-danger" ng-click="resetLokalitet()"">Nulstil</button> 
				</span>
				<button type="button" class="btn btn-primary" ng-click="$hide()">Luk</button> 
			</div>

		</div>
	</div>
</div>

